/*especifidad: como da importancia a los selectores id > class > "p" porque tomo mas trabajo*/
/*id es un elemento unico y es el que mas prioridad tiene
cuan mas unico es mas espeficidad tiene por lo tanto es el que queda*/
/*ID*/
#primer-parrafo{
    text-decoration: none;
}
/*class*/
.parrafo{
    border-color: #00f;
    text-decoration: underline;
}
/*general*/
p{
    border: 5px solid #050;
    font-family: Arial, Helvetica, sans-serif;
}

section p{
    color: #050;
}
/*agarra todos los span que encuentre adentro de un p que este en alguna parte de una section*/
/*  
section p span{ 
    border: 5px solid purple;
}
*/
/*hace que aplique unicamente  a el span que este en un p que este en un section
si hay un elemento entre alguno de estos no aplica*/
section>p>span{
    border: 5px solid purple;
}


